[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = kirkstone
[submodule "layers/meta-licheepinano"]
	path = layers/meta-licheepinano
	url = https://github.com/voloviq/meta-licheepinano.git
	branch = kirkstone
[submodule "layers/meta-qt5"]
	path = layers/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
	branch = kirkstone
